#!/bin/bash

unset PACKER_VSPHERE_VCENTER_SERVER
unset PACKER_VSPHERE_ESXI_HOST
unset PACKER_VSPHERE_VM_VERSION
unset PACKER_VSPHERE_USERNAME
unset PACKER_VSPHERE_PASSWORD
unset PACKER_VSPHERE_RESOURCE_POOL
unset PACKER_VSPHERE_DATACENTER
unset PACKER_VSPHERE_DATASTORE
unset PACKER_VSPHERE_DATASTORE_ISO
unset PACKER_VSPHERE_NETWORK

unset PACKER_VMWARE_HOST
unset PACKER_VMWARE_USERNAME
unset PACKER_VMWARE_PASSWORD
unset PACKER_VMWARE_DATASTORE
unset PACKER_VMWARE_NETWORK
unset PACKER_VMWARE_MAC
unset PACKER_VMWARE_VM_VERSION

# Jetbrains packer-builder-vsphere plugin.
# https://github.com/jetbrains-infra/packer-builder-vsphere
export PACKER_VSPHERE_VCENTER_SERVER=''
export PACKER_VSPHERE_ESXI_HOST=''
export PACKER_VSPHERE_VM_VERSION=''
export PACKER_VSPHERE_DATACENTER=''
export PACKER_VSPHERE_RESOURCE_POOL=''
export PACKER_VSPHERE_USERNAME=''
export PACKER_VSPHERE_PASSWORD=""
export PACKER_VSPHERE_DATASTORE=''
export PACKER_VSPHERE_DATASTORE_ISO=''
export PACKER_VSPHERE_NETWORK=''

# Native packer
export PACKER_VMWARE_HOST=''
export PACKER_VMWARE_USERNAME=''
export PACKER_VMWARE_PASSWORD=''
export PACKER_VMWARE_DATASTORE=''
export PACKER_VMWARE_NETWORK=''
export PACKER_VMWARE_MAC=''
export PACKER_VMWARE_VM_VERSION=''
